{{ define "main" }}

{{/* 继承 baseof.html 的 head 部分，保证 CSS 生效 */}}
{{ define "base" }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head/head.html" . }}
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>
{{ end }}

{{/* 首页内容 */}}
<div class="posts">
    {{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
    {{ range (.Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes)).Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
            {{ .Content }}
        {{ else }}
            {{ .Summary }}
            {{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
            {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>

{{ partial "pagination.html" . }}

{{- end }}
